div.header {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: red;
    height: 80px;
    padding: 0 24px;
}

/* Footer styling
-------------------------------------------------- */
div.footer {
  color: white;
  padding: 6px 25px;
  background: red;
  border-top:1px solid #eee;
  font-size: 12px;
  width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0;
}

.wy-nav-side {
    top: 80px;
}

.footer {
    background-color: red;
    height: 64px;
}


a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.rst-content h1 .headerlink,.rst-content h2 .headerlink,.rst-content .toctree-wrapper p.caption .headerlink,.rst-content h3 .headerlink,.rst-content h4 .headerlink,.rst-content h5 .headerlink,.rst-content h6 .headerlink,.rst-content dl dt .headerlink,.rst-content p.caption .headerlink,.rst-content table>caption .headerlink,.rst-content .code-block-caption .headerlink {
    visibility: hidden;
    font-size: 14px
    top: -250px;
}
