/* HEADER */
div.related {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: rgb(var(--bgColorDark));
    height: 80px;
    padding: 0 24px;
}

.header {
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 128px;
    background-color: red;
    color: green;
}

.wy-nav-side {
    top: 128px;
}

.wy-nav-content {
    top: 128px;
}

@media screen and (min-width: 1100px) {
    .wy-nav-content-wrap {
        background:rgba(0,0,0,0.05)
    }

    .wy-nav-content {
        position: fixed;
        top: 128px;
        margin: 0;
        background: #fcfcfc;
        overflow: auto;
    }
}

.footer {
    background-color: red;
    height: 64px;
}